APP_PORT=3000
APP_HOST=0.0.0.0
EVALUATION_BASE_URL=http://20.207.122.201/evaluation-service
EVALUATION_EMAIL=
EVALUATION_NAME=
EVALUATION_ROLL_NO=
EVALUATION_ACCESS_CODE=
EVALUATION_CLIENT_ID=
EVALUATION_CLIENT_SECRET=
LOG_STACK=backend
LOG_FALLBACK_FILE=./logs/fallback.log

